@import url('./tailwind.css');
/* @import url("./exercies.css"); */

:root {
  --primary: #2731f4;
  --secondary: #f4f5f9;

  /* Color styles */
  --white: #ffffff;
  --gray--100: #bcc3c7;
  --gray--500: #6d7478;
  --gray--950: #040404;
  --green--100: #cdf5de;
  --green--200: #9aebbe;
  --green--300: #68e09d;
  --green--400: #35d67d;
  --green--500: #03cc5c;
  --green--600: #02a34a;
  --green--700: #027a37;
  --green--800: #015225;
  --green--900: #012912;
  --blue--100: #01a9ff;
  --blue--200: #4284f7;

  /* effect styles */
  --shadow--100: 0px 4px 4px rgba(68, 131, 63, 0.15);
  --shadow--200: 0px 0px 2px rgba(114, 119, 124, 0.2);
}

body {
  margin: 0;
  padding: 20px;
  font: 1rem / 1.5 "SUIT Variable", "Helvetica Neue", Arial, sans-serif;
  background: var(--secondary, #f4f5f9);
  color: var(--primary, #2731f4);
}

#app {
  strong {
    text-transform: uppercase;
    font-size: 12px;
  }
}

.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

body .group {
  position: relative;
  overflow: auto;
  width: initial;
  height: initial;
  clip: auto;
  clip-path: none;
  white-space: wrap;
  margin: 20px;
  display: flex;
  border: 10px solid currentColor;
  padding: 20px;
  background: red;
}

input {
  position: relative;
}

input[type='number']::-webkit-inner-spin-button {
  position: absolute;
  width: 12.5%;
  height: 100%;
  top: 0;
  right: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}