:root {
    --primary: #2731f4;
}

body {
    font: 1rem / 1.5 "SUIT Variable", "Helvetica Neue", Arial, sans-serif;
    /* background: var(--primary, #2731f4); */
    color: var(--white, #fff);
}

#app {
    strong {
        text-transform: uppercase;
        font-size: 12px;
    }
}

.sr-only {
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: circle(0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
}