.widget {
  --width: 192px;
  --height: 72px;
  --radius: 6px;
  --border-color: #EBEBEA;
  --gradient-start: #FFF;
  --gradient-end: #F4F4F4;
  --shadow: #7f818834;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: var(--width);
  min-inline-size: var(--width);
  block-size: 72px;
  border: 1px solid var(--border-color);
  padding: 16px 8px 16px 16px;
  border-radius: var(--radius);
  background: var(--gradient-300, linear-gradient(99deg, var(--gradient-start) 29.16%, var(--gradient-end) 93.35%));
  box-shadow: 0px 4px 8px var(--shadow);
  font-family: Pretendard; 
  
  
  &.widget__weather {

    > img {
      order: 1;
    }

    .weather__info {
      display: flex;
      flex-flow: column;
      gap: 4px;

      .weather__info--template {
        font-weight: 900;
        font-size: 20px;
        color: var(--gray-950, #040404);
        line-height: 1;
        letter-spacing: 0.2px;
      }

      .weather__info--description {
        color: var(--gray-500, #6D7478);
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.12px;
        line-height: 1;
      }
    }
  }
}